body, h1, h2, p, ul, li, a {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    color: #222222;
}

ul{
    list-style:none;
}

a{
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

*{
    box-sizing: border-box;
}

/*SuperInfo*/

.superinfo-bg {
    background: #122ab2;
    color:white;
}

.superinfo {
    max-widht: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
}

.superinfo p, .superinfo a {
    margin: 0 10px 10px 10px;
}

.superinfo a {
    color:white;
}

/*Menu*/

.menu-bg {
    background: #2c70ff;
}

.menu {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.menu a {
    color: white
}

.menu-logo a {
    font-size: 2.25em;
    font-weight: bold;
    margin: 0 10px;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    font-size: 1.25em;
    display: block;
    padding: 10px;
}

.menu-nav a:hover{
    color:#122ab2;
}

/*Introdução*/

.introducao {
    font-size: 3em;
    line-height: 1;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
}

/*como funciona*/

.comofunciona {
    border-top: 2px solid #2c70ff;
    border-bottom: 2px solid #2c70ff;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;

}


.comofunciona-info {
    flex: 2 1 300px;
    margin: 0 10px;
}

.comofunciona-info h1 {
    font-size: 3em;
    margin-bottom: .5em;
}

.comofunciona-info p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #7c7c7c;
}

.comofunciona-img {
    flex: 1 1 160px;
    margin: 0 10px;
}

/*funcionalidades*/

.funcionalidades {
    max-width:  960px;
    margin: 60px auto;
}

.funcionalidades h1 {
    font-size: 3em;
    margin: 0 10px 60px 10px
}

.funcionalidades-container {
    display: flex;
    flex-wrap: wrap;
}

.funcionalidades-item {
    flex: 1 1 175px;
    margin: 10px;
    align-items: flex-end;
}

.funcionalidades-item h2 {
    font-size: 3em;
    color: #a4a4a4;
    background: #f7f7f7;
    padding: 60px 20px;
}

.basico {
    border-top: 8px solid #5351dc ;
}

.intermediario {
    border-top: 8px solid #7f7f81 ;
}

.completo {
    border-top: 8px solid #918b33 ;
}

/*beneficios*/

.beneficios {
    background: #f7f7f7;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.beneficios-item {
    flex: 1 1 260px;
    border: 4px solid white;
    padding: 20px;
    margin: 10px;
}

.beneficios-item h2 {
    font-size: 3em;
    color: #a4a4a4;
    text-align: center;
    margin-top: 20px;
}

.beneficios-item span {
    max-width: 300px;
    margin: 20px auto;
    display: block;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    padding: 10px 0 5px 0;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}

.beneficios sup {
    font-size: 1.5rem;
}

.beneficios-item ul {
    max-width: 300px;
    margin: 20px auto;
    font-size: 1.25em;
    font-style: italic;
    color: #7c7c7c;
}

.beneficios-item li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.beneficios-item li::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background: #2c70ff;
    border-radius: 50%;
}

.beneficios-item a {
    max-width: 300px;
    display: block;
    margin: 20px auto;
    border: 4px solid;
    color: #222222;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.25em;
    padding: 15px 0;
    text-align: center;
}

.beneficios-item p {
    text-align: center;
}

@media (max-width: 800px) {
    .beneficios {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    /* Define a ordem para (Básico -> Completo -> Intermediário) */
    .beneficios .beneficios-item:nth-child(1) {
        order: 1; /* Básico fica em primeiro */
    }
    .beneficios .beneficios-item:nth-child(3) {
        order: 2; /* Completo fica em segundo */
    }
    .beneficios .beneficios-item:nth-child(2) {
        order: 3; /* Intermediário fica em terceiro */
    }
    
}

/*Qualidade*/

.qualidade {
    max-width: 960px;
    margin: 60px auto;
    /* [CORRIGIDO] 'display: flex' removido daqui */
}

/* [CORRIGIDO] 'display: flex' movido para cá */
.qualidade-container {
    display: flex;
    flex-wrap: wrap;
}

.qualidade-item {
    flex: 1 1 300px;
    margin: 20px 10px;
}

.qualidade-item h2 {
    font-size: 2.25em;
    color: #a4a4a4;
    margin-bottom: 20px;
}

.qualidade-item h2::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 30px;
    margin-right: 10px;
}

.qualidade-item:nth-of-type(3n+1) h2::before {
    background: #0a0233;
}

.qualidade-item:nth-of-type(3n+2) h2::before {
    background: #0471df;
}

.qualidade-item:nth-of-type(3n+3) h2::before {
    background: #2f09ef;
}

.qualidade-item p {
    font-size: 1.25em;
    line-height: 1.4;
    color: #7c7c7c;
}

/*Newsletter*/

.newsletter {
	background: #f7f7f7;
	padding: 60px calc((100% - 960px) / 2 );
	display: flex;
	flex-wrap: wrap;
}

.newsletter-info {
	flex: 1 1 240px;
	margin: 0 10px;
}

.newsletter-info h1 {
	font-size: 3em;
	color: #a4a4a4;
}

.newsletter-info p {
	font-size: 1.25em;
	font-style: italic;
	max-width: 230px;
	color: #7c7c7c;
	margin-bottom: 10px;
}

.newsletter-form {
	flex: 2 1 260px;
	margin: 0 10px;
	align-self: center;
	display: flex;
	flex-wrap: wrap;
}

.newsletter-form input {
	flex: 3 1 260px;
	font-size: 1.25em;
	color: #7c7c7c;
	font-style: italic;
	font-family: "Nunito", Helvetica, Arial, sans-serif;
	border: 4px solid #2c70ff;
	background: transparent;
	padding: 15px 10px;
	margin: 0px;
	border-radius: 0px;
}

.newsletter-form button {
	flex: 1 1 260px;
	font-family: "Nunito", Helvetica, Arial, sans-serif;
	font-size: 2.25em;
	font-weight: bold;
	text-transform: uppercase;
	background: #2c70ff;
	color: white;
	margin: 0px;
	cursor: pointer;
	border: 0px;
	padding: 15px 10px;
}

@media (max-width: 600px) {
	.newsletter-form button {
		font-size: 1.5em;
	}
}

/*Footer*/

.footer {
	display: flex;
	background: #2c70ff;
	height: 200px;
	align-items: center;
}

.footer p {
	flex: 1;
	text-align: center;
	font-size: 2.25em;
	color: #122ab2;
}